What are different data types in python?
list
tuple
set
dict
string

file handling
exceptional handling

1. Convert string to the list?

In [1]:
string="my name is sunil. I am teaching data scinece"

In [3]:
list(string)

['m',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 's',
 'u',
 'n',
 'i',
 'l',
 '.',
 ' ',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 't',
 'e',
 'a',
 'c',
 'h',
 'i',
 'n',
 'g',
 ' ',
 'd',
 'a',
 't',
 'a',
 ' ',
 's',
 'c',
 'i',
 'n',
 'e',
 'c',
 'e']

In [7]:
[i for i in string]

['m',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 's',
 'u',
 'n',
 'i',
 'l',
 '.',
 ' ',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 't',
 'e',
 'a',
 'c',
 'h',
 'i',
 'n',
 'g',
 ' ',
 'd',
 'a',
 't',
 'a',
 ' ',
 's',
 'c',
 'i',
 'n',
 'e',
 'c',
 'e']

In [9]:
string.split()
# this is correct method

['my', 'name', 'is', 'sunil.', 'I', 'am', 'teaching', 'data', 'scinece']

2. Remove duplicate from  a give string?

In [10]:
string="my name is sunil. I am teaching data scinece"

In [12]:
list(set(string))
# but this does not give string as answer

['u',
 'n',
 'h',
 ' ',
 'e',
 'g',
 'y',
 '.',
 'd',
 'i',
 'l',
 'c',
 's',
 'I',
 'a',
 't',
 'm']